{% extends 'imdb/base.html' %}

{% block title %}Best Movies{% endblock %}
{% block content %}
<h1 class="text-center">Top Rated Movies ({{ movies|length }})</h1>

{% for movie in movies %}
<div class="row my-2">
    <div class="col-1">
        <img src="{{ movie.img.url }}" class="img-fluid">
    </div>
    <div class="col-4 align-self-center">
        <p><a href="{{ movie.url }}">{{ movie }} ({{ movie.year }})</a></p>
    </div>
    <div class="col-3 align-self-center">
        <p><a href="{{ movie.director.url }}">{{ movie.director }}</a></p>
    </div>
    <div class="col-2 align-self-center">
        <h3>Rating: {{ movie.rating }}</h3>
    </div>
    <div class="col-2 align-self-center">
        <p>{{ movie.views }} view{{ movie.views|pluralize }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}