{% extends 'imdb/base.html' %}

{% block title %}{{ director }}{% endblock %}
{% block content %}
<h1 class="text-center">{{ director }}</h1>

<div class="row justify-content-between">
    <div class="col-2">
        <img src="{{ director.img.url }}" class="img-fluid">
        <h3>Rating Director: {{ director.get_avg_rating_str }}</h3>
    </div>
    <div class="col-6">
        {% if director.bio %}
        <h1>Biography</h1>
        <h3>Mini Bio</h3>
        <p>{{ director.bio.read.decode }}</p>
        {% endif %}
    </div>
    <div class="col-4">
        {% for movie in director.movie_set.all %}
        <div class="row my-3">
            <div class="col-3" >
                <img src="{{ movie.img.url }}" class="img-fluid">
            </div>
            <div class="col-7 align-self-center">
                <a href="{{ movie.url }}">{{ movie }}</a>
            </div>
            <div class="col-2 align-self-center">
                <p>Rating: {{ movie.rating }}</p>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}